body{background-color: rgb(255, 105, 105);}

.container-fluid{background-color: rgb(255, 245, 224)}

.container1 {background-color: rgb(199, 0, 57);}

.container2 {background-color: rgb(255, 255, 255)}

.game, .dejas{ 
    height: 66px;
    width: 66px;
    margin:10px;
    border-radius: 0.75rem;}


